body {
    background-color: #f3f6fd;
}

div {
    text-align: center;
}

main {
    position: absolute;
    top: 25%;
    left: 35%;
}

p {
    margin: none;
    text-align: center;
}
